<style>
  footer {
            position: fixed; /* Fixed position */
            left: 0;
            bottom: 0;
            width: 100%; /* Full width */
            background-color: rgba(54, 69, 79, 0.8) !important; /* Background color */
            color: #8d99ae; /* Text color */
            text-align: center; /* Center text */
        }
   .text-body{
      color: #f6bd60 !important;
   }
</style>

<footer>
    <div class="text-center p-3"">
      <!-- <br><br> -->
        © 2024 Copyright : 
        <a class="text-body" href="https://www.instagram.com/_._.rana__?igsh=MTN3MmVkNmo5bG05dQ==" target="_blank"><b>Ashish</b></a>
      </div>
</footer>
